
<div id="quiz" class="section">
  <div class="section-center">
    <div class="container">
      <app-quiz #quiz [style.display]="(showQuizScreen)?'block': 'none'" (finalResult)="finalResult($event)"></app-quiz>
      <app-result #quizResult [style.display]="(showResultScreen)?'block': 'none'" (showMainMenuScreen)="showMainMenuScreen($event)"></app-result>
      <div [style.display]="(showMainMenu)?'block': 'none'" class="row justify-md-center">
        <div class="col-md-6 mx-auto">
          <div class="quiz-form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label">Dificulty</span>
                  <select class="form-control" [(ngModel)]="difficulty">
                    <option>Select</option>
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label">Question</span>
                  <select class="form-control" [(ngModel)]="questionLimit">
                    <option>Pick number of questions</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div class="form-btn">
              <button *ngIf="!showSpinner" class="submit-btn" (click)="quizQuestion()">Start Quiz</button>
              <button *ngIf="showSpinner" class="submit-btn" type="button" disabled >
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
